<router-outlet>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="#!">Store</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a></li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']" *ngIf="authService.isAuthenticated()">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/add-product']" *ngIf="authService.isAuthenticated()">Add New Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" (click)="toggleLogin()">{{ authService.isAuthenticated() ? 'Logout' : 'Login' }}</a>
                  </li>
              </ul>
              <form class="d-flex">
                  <button class="btn btn-outline-dark" [routerLink]="['/cart']"type="button">
                      <i class="bi-cart-fill me-1"></i>
                      Cart
                      <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartservice.getCartItemCount()}}</span>
                  </button>
              </form>
          </div>
      </div>
  </nav>      
</router-outlet>
